/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

footer,
.app-header {
    background: var(--dark-color);
    padding: 8px 30px;
    color: white;
}

.app-header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;

    &__logo {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 3px;
        color: white;
    }

    .search-input {
        width: 170px;
        background: #666666;
        border: 1px solid #666666;
        color: white;
    }

    &__links {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-left: 100px;
    }

    &__link {
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 4px;

        &--active {
            color: var(--accent-color);
        }
    }

    &__actions {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 30px;

        .button:hover {
            color: var(--dark-color);
        }
    }

    &__cart-icon {
        fill: white;
        width: 30px;
        height: 30px;
        color: white;
        transition: 400ms;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

footer {
    text-align: center;
}



